@page
@model AirShop.WebApp.Pages.AirPhoneCatalogModelModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AirShop Catalog</title>
    <link rel="stylesheet" href="~/css/sklep.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style1.css" asp-append-version="true">
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
</head>
<body>

    <!--ShoppingCart icon, trzeba dodac gdzies tutaj ikone z koszykiem-->

    <section class="shop" id="shop">
        <div class="container">
            @foreach (var product in Model.Products)
            {
                if (product.ProductType == DataAccess.Data.Models.ProductType.AirPhone)
                {
                    <div class="box">
                        <img src="@Url.Content(product.Image)">
                        <h4>@product.Name</h4>
                        <h5>@product.Price$</h5>
                        @*<button class="addToCart" onclick="addToCart(@product.ProductId, event)">
                            Dodaj do koszyka
                        </button>*@
                        <form method="post" asp-page-handler="AddToCart" asp-route-productId="@product.ProductId">
                            <button type="submit" class="addToCart">Dodaj do koszyka</button>
                        </form>
                    </div>
                }
            }
        </div>
    </section>

    <script>
        async function FetchProducts() {
            try {
                // Call your C# method to get the products
                //var products = await DotNet.invokeMethodAsync('AirShop.WebApp.Pages', 'GetProducts');

                // Add products to the table
                //products.forEach(product => AddProductToTable(product));
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @section Scripts {
        <script>
            function addToCart(productId, productName) {
                var url = '@Url.Page("/AirPhoneCatalogModel", "OnPostAddToCart")';

                // Wywołujemy metodę AddToCart z modelu za pomocą JavaScript
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId: productId })
                }).then(response => {
                    if (response.ok) {
                        // Wyświetlamy popup po udanym dodaniu do koszyka
                        Swal.fire({
                            icon: 'success',
                            title: `${productName} został dodany do koszyka!`,
                            showConfirmButton: false,
                            timer: 1500
                        });

                        // Ręczne przeładowanie strony po 1.5 sekundy
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        // Obsługujemy błąd, np. wyświetlamy komunikat o niepowodzeniu
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Coś poszło nie tak. Produkt nie został dodany do koszyka.',
                        });
                    }
                }).catch(error => {
                    console.error('Błąd:', error);
                });
            }
        </script>
    }
</body>
</html>
